<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RESULT</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: initial;
      }
    </style>
  </head>
  <body>
    <h1>Database</h1>
    <table>
      <!-- for (const property in object) {
  console.log(`${property}: ${object[property]}`);
   console.log(.secondQus); 
} -->

      <% for (const property in qusSet1) { %> 
        
        <%for(let data of ansSet){%>

      <tr>
        <th><%= qusSet1[property].firstQus %></th>
        <th><%= qusSet1[property].secondQus %></th>
        <th><%= qusSet1[property].thirdQus %></th>
        <th><%= qusSet1[property].fourthQus %></th>
        <th><%= qusSet1[property].fifthQus %></th>
      </tr>
      <tr>
        <td><%=data.firstAns%></td>
        <td><%=data.secondAns%></td>
        <td><%=data.thirdAns%></td>
        <td><%=data.fourthAns%></td>
        <td><%=data.fifthAns%></td>
      </tr>
      <% } %>

            <% } %>

    </table>

    <a href="/form">GO back to form</a>
  </body>
</html>
